DATABASE_URL="postgresql://postgres:root@localhost:5432/storyCraft?schema=public"

JWT_SECRET=???

GOOGLE_CLIENT_ID = ???
GOOGLE_CLIENT_SECRET = ???
GOOGLE_CALLBACK_URL = http://localhost:3002/users/auth/google/callback

FRONTEND_URL = https://story-craft-cbt.vercel.app

EMAIL_HOST = ???
EMAIL_PORT = ???
EMAIL_USER = ???
EMAIL_PASSWORD = ???

CLOUDINARY_CLOUD_NAME=???
CLOUDINARY_API_KEY=???
CLOUDINARY_API_SECRET=???