@use "@/app/(default)/styles/variables.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  color: red;
  margin-bottom: -15;
}

.input {
  border: none;
  outline: $main-red 1px solid;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px 20px;
  background-color: transparent;
  color: $main-light;
  box-shadow:
    inset 0 0 4px 1px rgba(255, 71, 87, 0.7),
    /* внутренняя тень */ 0 0 5px 1px #ff4757; /* внешняя тень */
  color: $main-light;
}

.link {
  color: $main-red;
  cursor: pointer;
  text-decoration: underline;
}


.passwordBlock {
  position: relative;
  width: 100%; // Добавляем ширину для правильного позиционирования
}

.eyeIcon {
  cursor: pointer;
  position: absolute;
  left: 815px;
  top: 50%; // Используем 50% для вертикального центрирования
  transform: translateY(-50%); // Точное центрирование по вертикали
  color: $main-red; // Добавляем цвет для лучшей видимости
}

.submit {
  box-shadow: 
    0 0 6px 1px #ff4757;
  border: none;
  transition: all 0.1s ease;
  animation: glow 3s infinite alternate;

  &:hover {
    box-shadow: 
      0 0px 12px 3px #ff6b6b;
  }
}
